<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="httpConnection" class="jrm.HttpConnection">
    </bean>
    <bean
            id="message" class="jrm.Message">
    </bean>
    <bean
            id="sender" class="jrm.Sender">
        <constructor-arg ref="httpConnection">
        </constructor-arg>
        <property name="message" ref="message">
        </property>
    </bean>
    <bean
            id="application" class="jrm.Application">
        <constructor-arg ref="sender">
        </constructor-arg>
    </bean>

</beans>